.nav-wrapper ul > li:hover {
    transform: scale(1.2);
}

.section-search input{
    padding: 4px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x{
    margin: 5px 10px;
    
}

.page-scroll {
    text-transform: uppercase;
    font-size: 16px;
    color:white;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-out 0s;
}

.page-scroll:hover {
    text-shadow: none !important;
    background: none;
}